[submodule "fmc-delay/fmc-delay-1ns-8cha"]
	path = fmc-delay/fmc-delay-1ns-8cha
	url = git://ohwr.org/fmc-projects/fmc-delay-1ns-8cha.git
[submodule "etherbone-core"]
	path = etherbone-core
	url = git://ohwr.org/hdl-core-lib/etherbone-core.git
